# Configuration
config.php
.env

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~

# Logs and databases
*.log
*.sql
*.sqlite

# Dependencies
/vendor/
/node_modules/

# Temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db

# Docker
.docker/

.htaccess
json/reports/cache/*.json
site.webmanifest
